.centerItemsInDiv{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.headlines{
    font-family: Bebas Neue;
    color: #FFFFFF;
}

.blogTitle{
    font-family: Bebas Neue;
    color: #0597D5;
}

.paragraphs{
    font-family: Open Sans;
    color: #000000;
    font-size: 1rem;
    text-align: justify;
}

.biggerParagraphs{
    font-family: Open Sans;
    color: #000000;
    font-size: 1.25rem;
    text-align: justify;
}

.informativeTable{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: max-content;
    grid-row-gap: 5rem;
    justify-items: center;
    width: 100%;
}

.informativeTable.verticalCenter{
    grid-auto-rows: auto;
}

/* .informativeItem:nth-child(1){
    background-color: #0077B6;
}
.informativeItem:nth-child(2){
    background-color: #8864C6;
}
.informativeItem:nth-child(3){
    background-color: #FF7AA2;
} */

.informativeItem{
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0 !important;
}

#navBarItem, #logIn{
    font-family: Bebas Neue;
    font-size: 2rem;
    color: gray;
    display: flex;
}

#welcome_msg,
#tenthSection{
    background-image: url('./assets/1.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

#secondSection, 
#fourthSection, 
#fifthSection, 
#seventhSection, 
#ninthSection, 
.itemPadding{
    padding: 2rem;
}

#thirdSection, #sixthSection{
    background-image: url('./assets/2.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

#eighthSection{
    background-image: url('./assets/3.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.testimonials{
    text-align: justify;
}

/*Media Queries for Responsiveness*/
@media (max-width: 576px){

    .icons{
        width: 40%;
    }
}
@media (max-width: 768px){

    .icons{
        width: 50%;
    }
}
@media (max-width: 992px){

    .icons{
        width: 60%;
    }
}
@media (max-width: 1200px){

    .icons{
        width: 70%;
    }
}