#welcome{
    background-image: url('./assets/1.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}

.centerTitles{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#welcomeImg{
    margin: auto;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBarItem{
    font-family: Bebas Neue;
    font-size: 1.5rem;
    color: gray;
    display: flex;
}

.responsiveHeadlines{
    font-family: Bebas Neue;
    font-size: 2rem;
}