.centerItemsInDiv{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.headlines{
    font-family: Bebas Neue;
    color: #FFFFFF;
}

.formStyle{
    font-family: Bebas Neue;
    color: #0077B6;
    font-size: 1.5rem;
    text-align: left;
    align-items: flex-start;
    display: flex;
}

.blogTitle{
    font-family: Bebas Neue;
    color: #0597D5;
}

.paragraphs{
    font-family: Open Sans;
    color: #000000;
    font-size: 1rem;
    text-align: justify;
}

.biggerParagraphs{
    font-family: Open Sans;
    color: #000000;
    font-size: 1.25rem;
    text-align: justify;
}

.informativeTable{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: max-content;
    grid-row-gap: 5rem;
    justify-items: center;
    width: 100%;
}

.informativeTable.verticalCenter{
    grid-auto-rows: auto;
}

/* .informativeItem:nth-child(1){
    background-color: #0077B6;
}
.informativeItem:nth-child(2){
    background-color: #8864C6;
}
.informativeItem:nth-child(3){
    background-color: #FF7AA2;
} */

.informativeItem{
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0 !important;
}

#navBarItem, #logIn{
    font-family: Bebas Neue;
    font-size: 2rem;
    color: gray;
    display: flex;
}

#welcome_msg,
#tenthSection{
    background-image: url('./assets/1.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

#secondSection, 
#fourthSection, 
#fifthSection, 
#seventhSection, 
#ninthSection, 
.itemPadding{
    padding: 2rem;
}

.cardBg{
    background-color: #009EDC;
}

#thirdSection, #sixthSection{
    background-image: url('./assets/2.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

#eighthSection,
#coachteensPurpose,
.signUpPage{
    background-image: url('./assets/3.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.testimonials{
    text-align: justify;
}

/*Media Queries for Responsiveness*/
@media (max-width: 576px){

    .icons{
        width: 40%;
    }
}
@media (max-width: 768px){

    .icons{
        width: 50%;
    }
}
@media (max-width: 992px){

    .icons{
        width: 60%;
    }
}
@media (max-width: 1200px){

    .icons{
        width: 70%;
    }
}

/*CSS for the carrousel*/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }


/*Exclusively for the Abouts Us page*/

.aboutUs1{
    background-color: #48CAE4;
    padding: 2rem;   
}